<span class="card-title grey-text text-darken-4">{{Title}}<i class="material-icons right">close</i></span>
<p>Year: {{Year}}</p>
<br>
<p>Genre:  {{Genre}}</p>
<br>
<p>Major Actors:  {{Actors}}</p>
<br>
<p>Plot:  {{Plot}}</p>
<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>